{% extends 'company/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center">
        <div class="admin-customer-registration-container">
            <div class="company-registration-form">
                <a class="back" href="{{ path('company_partners') }}"><i class="fa-solid fa-arrow-left me-2"></i>{{ 'general.back'|trans }}</a>
                <hr>
                {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
            </div>
        </div>
    </div>
{% endblock %}
