* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  align-items: center;
  background: #292b2c;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: auto;
}
@media (min-width: 0px) {
  .login-container {
    box-sizing: border-box;
    min-height: 100vh;
  }
  .login-form {
    padding: 50px;
  }
  .login-form form {
    display: flex;
    justify-content: center;
  }
  .login-side {
    display: none;
  }
}
@media (min-width: 700px) {
  .login-container {
    box-sizing: border-box;
    min-height: 100vh;
  }
  .login-form {
    padding: 30px;
  }
  .login-form form {
    display: block;
    width: 40%;
  }
  .login-side {
    display: block;
  }
  .login-side img {
    height: calc(100% - 936px);
    width: 100vw;
  }
}
@media (min-width: 1000px) {
  .login-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .login-form {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 500px;
  }
  .login-form form {
    position: relative;
    top: -50px;
    width: 90%;
  }
  .login-side {
    display: block;
  }
  .login-side img {
    height: 100vh;
    width: calc(100vw - 500px);
  }
}
.company-registration-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.company-registration-container ul {
  list-style: none;
  padding-left: 0;
}
.company-registration-container ul li {
  font-weight: bolder;
  color: #d9534f;
}
.company-registration-container .company-registration-form {
  background: #ffffff;
  border-radius: 25px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 50px;
  width: 80%;
}
.company-registration-container .company-registration-background {
  position: fixed;
  top: 0;
  z-index: -1;
}
.company-registration-container .company-registration-background img {
  height: 100vh;
  width: 100vw;
}
.company-registration-login-link {
  display: flex;
  justify-content: right;
}
.admin-company-registration-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.admin-company-registration-container ul {
  list-style: none;
  padding-left: 0;
}
.admin-company-registration-container ul li {
  font-weight: bolder;
  color: #d9534f;
}
.admin-company-registration-container .company-registration-form {
  background: #ffffff;
  border-radius: 25px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 50px;
  width: 80%;
}
.admin-customer-registration-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 700px;
}
.admin-customer-registration-container ul {
  list-style: none;
  padding-left: 0;
}
.admin-customer-registration-container ul li {
  font-weight: bolder;
  color: #d9534f;
}
.admin-customer-registration-container .company-registration-form {
  background: #ffffff;
  border-radius: 25px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 50px;
  width: 80%;
}
.admin-review-search-form ul {
  list-style: none;
  padding-left: 0;
}
.admin-review-search-form ul li {
  font-weight: bolder;
  color: #d9534f;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  font-size: 20px;
}
.back {
  color: #292b2c;
  font-size: 20px;
  text-decoration: none;
}
.company-initial-data-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 700px;
}
.company-initial-data-container ul {
  list-style: none;
  padding-left: 0;
}
.company-initial-data-container .company-initial-data-form {
  background: #ffffff;
  border-radius: 25px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 50px;
  width: 80%;
}
.item li {
  font-weight: bolder;
  color: #d9534f;
}
.company-info {
  display: flex;
  justify-content: space-between;
}
.company-info .img {
  height: 150px;
}
.company-info .img img {
  height: 100%;
}
.company-form-collection-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 700px;
}
.company-form-collection-container ul {
  list-style: none;
  padding-left: 0;
}
.company-form-collection-container .company-registration-form {
  background: #ffffff;
  border-radius: 25px;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 50px;
  width: 80%;
}
.company-categories-form ul {
  list-style: none;
  padding-left: 0;
}
.company-categories-form ul li {
  font-weight: bolder;
  color: #d9534f;
}
.articles-list li {
  font-size: 30px;
}
.fa-square-plus:hover {
  cursor: pointer;
}
.pagination a {
  color: #292b2c;
}
.pagination a:hover {
  color: #0275d8;
}
.disabled {
  color: currentColor;
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}
.active {
  background: #292b2c !important;
  color: #ffffff !important;
}
.active-table {
  border: 5px solid orange;
}
.selected-table {
  border: 5px solid dodgerblue!important;
}
