{% extends 'company/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center">
        <div class="admin-customer-registration-container">
            <div class="company-registration-form">
                <h3>{{ 'general.change-password'|trans }}</h3>
                <hr>
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
